<!DOCTYPE html>
<html>
<style>
body {padding: 0px; margin: 0px;}
#count1 {font-size: 22px; width: 3em; margin: .25em; padding-left: 4px; padding-right:  4px;}

td {padding-right: 10em;}
span {font-size: 22px; }

btn.#plus1 { background-color: #efffcf; }
btn.#minus1 { background-color: #ffefff; }

.odd { background-color: #fff; }
.even { background-color: lightblue; }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>



<body ng-app="myApp" ng-controller="studentCtrl">
<div class="container-fluid">
<h2>Student Check List</h2>

<form ng-submit="studentAdd()">
    <input type="text" ng-model="studentInput" size="50" placeholder="Add New">
    <input type="submit" value="Add New">
</form>

<table class="table">
<tr ng-repeat="x in studentList" ng-class-odd="'odd'" ng-class-even="'even'">
<td>
    <input type="checkbox" ng-model="x.done"> 
    <span ng-bind="x.studentText"></span><!-- Firstname-->
    <span ng-bind="x.Last"></span><!-- Lastname-->
</td>
<td>
    <button id="plus1" class="btn btn-primary" ng-click="count = count + 1">+</button>
    <input id="count1" type="text" ng-model="count" placeholder="0">
    <button id="minus1" class="btn btn-info" ng-click="count = count - 1">-</button>
</td>


</tr>
</div><!-- ng-repeat -->
</table>

<!--
<p><button ng-click="remove()">Remove marked</button></p>
-->

<script>
//http://www.convertcsv.com/csv-to-json.htm
var app = angular.module('myApp', []); 
app.controller('studentCtrl', function($scope) {
    $scope.studentList = [
 {
   "studentText": "A'mayah",
   "Last": "Minnis",
   "FIELD3": ""
 },
 {
   "studentText": "Ashanti",
   "Last": "Farr",
   "FIELD3": ""
 },
 {
   "studentText": "Cera",
   "Last": "Cole",
   "FIELD3": ""
 },
 {
   "studentText": "Charntel",
   "Last": "Anokye",
   "FIELD3": ""
 },
 {
   "studentText": "Daimya",
   "Last": "Butler",
   "FIELD3": ""
 },
 {
   "studentText": "Elizabeth",
   "Last": "Coyotl-Osorio",
   "FIELD3": ""
 },
 {
   "studentText": "Helina",
   "Last": "Minilik",
   "FIELD3": ""
 },
 {
   "studentText": "Isabella",
   "Last": "Jeronimo-Lemus",
   "FIELD3": ""
 },
 {
   "studentText": "JoHanna",
   "Last": "Blackburn",
   "FIELD3": ""
 },
 {
   "studentText": "Kasey",
   "Last": "Dunmire",
   "FIELD3": ""
 },
 {
   "studentText": "Kenia",
   "Last": "Posadas",
   "FIELD3": "Lemus"
 },
 {
   "studentText": "Kia",
   "Last": "McCloud",
   "FIELD3": ""
 },
 {
   "studentText": "Kyra",
   "Last": "Ogboko",
   "FIELD3": ""
 },
 {
   "studentText": "La'Zhey",
   "Last": "Sanders",
   "FIELD3": ""
 },
 {
   "studentText": "Maleah",
   "Last": "Witcher",
   "FIELD3": ""
 },
 {
   "studentText": "Mercy",
   "Last": "Ayegbusi",
   "FIELD3": ""
 },
 {
   "studentText": "Mikay'la",
   "Last": "Bordley",
   "FIELD3": ""
 },
 {
   "studentText": "Mumtaz",
   "Last": "Hirsi",
   "FIELD3": ""
 },
 {
   "studentText": "Nevaeh",
   "Last": "Dean",
   "FIELD3": ""
 },
 {
   "studentText": "Phoenix",
   "Last": "Gamble",
   "FIELD3": ""
 },
 {
   "studentText": "Riley",
   "Last": "Allar",
   "FIELD3": ""
 },
 {
   "studentText": "Sa'mya",
   "Last": "Baker",
   "FIELD3": ""
 },
 {
   "studentText": "Seynabou",
   "Last": "Sall",
   "FIELD3": ""
 },
 {
   "studentText": "Sotera",
   "Last": "Craddolph",
   "FIELD3": ""
 },
 {
   "studentText": "Tyesha",
   "Last": "Western",
   "FIELD3": ""
 }
];

    $scope.studentAdd = function() {
        $scope.studentList.push({studentText:$scope.studentInput, Last:$scope.studentInput, done:false});
        $scope.studentInput = "";
    };

    $scope.remove = function() {
        var oldList = $scope.studentList;
        $scope.studentList = [];
        angular.forEach(oldList, function(x) {
            if (!x.done) $scope.studentList.push(x);
        });
    };
});
</script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

</div><!--Container -->
</body>
</html>